<%  if(success && success.length){ %>
    <div class=" alert alert-success alert-dismissible fade show col-6 offset-3" role="alert" >
<%= success  %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>

<% } %>

<%  if(error && error.length){ %>
    <div class=" alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert" >
<%= error  %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>
<div>
    
</div>
<% } %>

<!-- <script>
  setTimeout(() => {
    document.querySelectorAll('.alert').forEach(alert => {
      alert.style.transition = "opacity 1s";
      alert.style.opacity = 0;
      setTimeout(() => {
        alert.style.display = "none";
      }, 1000); // Wait for fade-out transition
    });
  }, 5000); // 5 seconds before fade starts
</script> -->