<% layout("/layouts/boilerplate") -%>


   <div class="row mt-3">
    <div class="col-8 offset-2"> 
         <h3>Create New Listings</h3> 
         <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
             <div class="mb-3">
                <label for="title " class="form-label"> Title</label>
                <input
                name="listing[title]" 
                placeholder="title" 
                type="text" 
                class="form-control"
                required
              />

              <div class="valid-feedback"> its Look Good </div>
             </div>
             <div class="mb-3">
                 <label for="description" class="form-label">description</label><textarea 
                 name="listing[description]" 
                 placeholder=" description"
                 class="form-control"
                 required></textarea>
             </div>
             <div class="mb-3">
              <label for="image" class="form-label">Image</label>
                <input
                name="listing[image]" 
                type="file"
               class="form-control"
               >    
             </div>
        
             <div class="mb-3">
                 <label for="price" class="form-label">Price</label>
                 <input 
                     name="listing[price]"
                     placeholder="1800" 
                    
                      class="form-control"
                      required>
                      <div class="invalid-feedback"> Pls enter vaild amount  </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                     <label for="location" class="form-label"> location</label>
                     <input name="listing[location]"
                         placeholder="Bengalur,chikkamagaluru,Mysuru"
                         type="text"
                         class="form-control"
                         required>
                    </div>
                    <div class="mb-3 col-md-8">
                     <label for="country" class="form-label">country</label>
                       <input 
                         name="listing[country]" 
                         placeholder="India"
                         type="text"
                         class="form-control"
                         required>
                    </div>
                </div>
        
        
                <button  class="btn btn-dark add-btn mt-3" >add</button>
             </form>
   
        </div>
   </div> 

   <script src="/js/script.js"></script>
